<h3>Add A Beat</h3>

  <div class="col-md-6 col-sm-6" >
    <form ng-submit="BeatsFactory.addBeat()" role="form">

    <div class="form-group">
      <label>Beat Name</label>
      <input class="form-control" ng-model="BeatsFactory.beatName">
    </div>

    <button type="submit">Add Beat</button>

    </form>

    <div ng-show="beats.length">
      <h3>Beats</h3>
      <div  ng-repeat="item in beats">
        <ul>
          <li>{{item.name}}<a class="btn" ui-sref="beats({beatId: item.id})">Add Reporter To Beat</a></li>
        </ul>

      </div>

    </div>
  </div>
<div ui-view></div>
